<h3>Choose a date range to see total income from that range.</h3>

<form action="/net_income" method="get">
  <label for="date_begin">Choose date range start:</label>
  <input type="date" name="date_begin" id="date_begin">

  <label for="date_end">Choose date range end:</label>
  <input type="date" name="date_end" id="date_end">

  <button type="submit" class="btn btn-sm btn-info">See Income Total</button>
</form>
