<!DOCTYPE html>
<html>
  <head>
    <title>Point of Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h2>Point of Sale</h2>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
