<div class="page-header">
  <h4>Thank you for shopping with us!</h4>
</div>
<ul>
  <% total =0 %>
  <% @purchase.products.each() do |product| %>
  <li><h6><%= product.name() %> $<%= product.price() %></h6></li>
  <% total = total + product.price() %>
  <% end %>

  <li><h5> Total: $<%= total %></h5></li>
</ul>
